body{
    background-color: rgb(78, 78, 78);
    font-family:Arial, Helvetica, sans-serif;
}
#BelsoText{
    text-align: center;
    margin-top: 12.555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555%;
    font-size: xx-large;
}
#KivalasztDiv div{
    height: 100px;
    width: 250px;
    margin: 2%;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}
.KivalasztotDesign{
    transition: all .4s ease-in-out;
    box-shadow: 0 0 40px 40px rgb(0, 102, 255) inset, 0 0 0 0 rgb(0, 102, 255);
}
.KivalasztotDesign:hover{
    box-shadow: 0 0 10px 0 rgb(0, 102, 255) inset, 0 0 10px 4px rgb(0, 102, 255);
}
#Gomb{
    background-color: rgb(95, 95, 95);
    color: gray;
    border: 2px solid gray;
    display: block;
    margin: auto;
    border-radius: 15px;
    font-size: larger;
    transition: .7s;
}
#KivalasztottGomb{
    transition: all .4s ease-in-out;
    box-shadow: 0 0 40px 40px rgb(0, 102, 255) inset, 0 0 0 0 rgb(0, 102, 255);
    color: white;
    display: block;
    margin: auto;
    border: 0;
    cursor: pointer;
    font-size: larger;
    background-color: rgb(65, 65, 65);
}
#KivalasztottGomb:hover{
    box-shadow: 0 0 10px 0 rgb(0, 102, 255) inset, 0 0 10px 4px rgb(0, 102, 255);
    border-radius: 5px !important;
    font-size: larger;
}
.Kivalasztva{
    box-shadow: 0 0 10px 0 rgb(0, 102, 255) inset, 0 0 10px 4px rgb(0, 102, 255) !important;
    border-radius: 5px !important;
    background-color: rgb(65, 65, 65);
}
#NemValasztHato{
    background-color: rgba(83, 83, 83, 0.5);
    border: 2px solid black !important;
    cursor: default !important;
    color : darkgray !important;
}
#ErtekDivTer{
    height: auto;
    width: fit-content;
    margin:  auto;
    text-align: center;
}
#ErtekDivTer>p{
    font-size: xx-large;
    color: white;
    text-decoration: underline;
    cursor: default;
}

.BelsoDivek{
    height: 50px;
    width: 450px;
    color: white;
    text-align: center;
    border-radius: 15px;
    margin: 10px auto;
    cursor: pointer;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 40px 40px rgb(0, 102, 255) inset, 0 0 0 0 rgb(0, 102, 255);
    margin: 20px;
}
.BelsoDivek:hover{
    box-shadow: 0 0 10px 0 rgb(0, 102, 255) inset, 0 0 10px 4px rgb(0, 102, 255);
}

.BelsoDivek p{
    font-size: x-large;
    padding-top: 2.55555555555555555555555%;
    margin: auto;
}

#ChipTabla{
    position: absolute;
    width: 400px;
    height: 250px;
    border: 1px solid white;
    border-top-right-radius: 20px;
    bottom: -252px;
    left: 0;
    background-color: green;
    transition: 1.5s;
}
#ChipTablaNev{
    position: absolute;
    background-color: green;
    width: 130px;
    height: 55px;
    border: 1px solid white;
    border-bottom: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    bottom: -2px;
    left: 0;
    text-align: center;
    color: white;
    font-size: x-large;
    transition: 1.5s;
}
#ChipTablaNev p{
    margin: 15px auto;
    cursor: default;
}
.NevFelnyilas{
    bottom: 250px !important;
}
.TablaFelnyilas{
    bottom: 0 !important;
}