body{
    background-color: darkgray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#BelsoText{
    text-align: center;
    padding-top: 21%;
    font-size: xx-large;
}
#KivalasztDiv div{
    border: 2px solid gray;
    height: 212px;
    width: 250px;
    margin: 2%;
    border-radius: 20px;
    cursor: pointer;
}
#BotokEllen{
    background-color: rgba(128, 128, 128, 0.3);
    transition: .7s;
}
#BotokEllen:hover{
    background-color: rgba(0, 255, 0, 0.3);
    border: 2px solid lime;
    border-radius: 5px;
    color: white;
}
#JatekosEllen{
    background-color: rgba(128, 128, 128, 0.3);
    transition: .7s;
}
#JatekosEllen:hover{
    background-color: rgba(0, 255, 0, 0.3);
    border: 2px solid lime;
    border-radius: 5px;
    color: white;
}